<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jinryulkim.k_mountain" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SearchActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".named100.Named100Activity"
            android:screenOrientation="portrait" />

        <activity android:name=".My.MyActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".help.HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name=".result.ResultActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".detail.DetailActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".map.MapActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".InfoActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".DialogActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"  />

    </application>

</manifest>
